:root {
  --background-color: rgb(255, 255, 255);
  --title-color: rgb(27, 27, 27);
  --text-color: rgb(66, 66, 66);
  --light-color: rgb(212, 212, 212);
  --first-loading-color: #f0f0f0;
  --second-loading-color: #c4c4c4;
}